@import url(./fonts.css);

:root {
    --primary-orange: #FF7500;
    --white: #fff;
    --dark: #252420;
    --roboto: "Roboto";
    --robotocondensed: "RobotoCondensed";
}


/* Global style */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

ul {
    list-style: none;
}

a {
    text-decoration: none;
}

/* Container size */

.container {
    width: 1130px;
    padding-left: 15px;
    padding-right: 15px;
    margin: auto;
}

body {
    font-family: var(--roboto);
}